
@font-face {
    font-family: Square;
    src: url('FORCED SQUARE.ttf');
}

html {
    background-color:#151515;
}

/*general elements --------------------------- */

h1, h2, p {
    color: white;
    font-family: Square;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 25px;
}

a img {
    opacity: inherit;
}

/* header  ------------------------- */

#header {
    /*display: inline-block;*/
    position: sticky;
    top: 0;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    padding-top: .1vw;
    background-color:white;
    z-index: 99;
}

#header h1 {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: inherit;
    letter-spacing: -.05vw;
}

#header h2 {
    margin: 0px;
    font-weight: inherit;
    margin-top: -.675vw;
}

#header h1, h2 {
  color: black;
  text-align: center;
}

/* project section -------------------- */

main p {
    text-align: center;
}

.project {
	position: relative;
	margin: 1vw auto auto auto;
	width: 75%;
	font-size: 1.5vw;
}
.project img {
	display: block;
	width: 100%;
}
.project div.project_overlay {
	position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
  display: flex;
  padding: .6vw .75vw;
  opacity: 0;
	background: rgba(0, 0, 0, 0.95);
	transition: all .1s linear;
	color: #151515;
}

.project:hover div.project_overlay {
	opacity: 1;
}

.project div.project_overlay * {
  opacity: inherit;
}

.project div.project_overlay iframe {
  position: absolute;
    top: 3%;
    left: 1%;
  width: 40%;
  height: 90%;
  margin: 0px;
}

.project div.project_overlay p {
  display: block;
  position: absolute;
    top: 4%;
    right: 1%;
  width: 50%;
  height: 100%;
  margin: 0px;
  text-align: right;
  pointer-events: none;
}

.project div.project_overlay a {
  width: 5vw;
  height: 5vw;
  position: absolute;
    right: 1%;
    bottom: 5%;
  align-items: flex-end;
}

.project div.project_overlay div.project_overlay_2 {
  position: absolute;
    right: 1%;
    bottom: 5%;
    margin: 0px;
    padding: 0px;
  clear: both;
  display: table-column;
  column-count: 2;
}

.project div.project_overlay div.project_overlay_2 a {
  width: 50%;
  height: 1%;
  position:static;
  align-items: flex-end;
}

.project div.project_overlay div.project_overlay_2 a img {
  width: 5vw;
  height: 5vw;
  position:static;
  margin: 0px;
  padding: 0px;
}
