
@mixin column-count($x){ 
    -webkit-column-count: 2;
    -moz-column-count: $x;
    column-count: $x;
  }
  


@font-face {
    font-family: Square;
    src: url('FORCED SQUARE.ttf');
}

html {
    background-color:#151515;
}

/*general elements --------------------------- */

h1, h2, p, button {
    color: white;
    font-family: Square;
}

p {
    font-size: 2vw;
}

a {
    font-weight: bold;
    font-family: Square;
}

.whitespace {
    height: 120px;
}

.sectionWhitespace {
    height: 73px;
}

.smallWhitespace {
    height: 60px;
}

.tinyWhitespace {
    height: 20px;
}

/* header  ------------------------- */

#header {
    /*display: inline-block;*/
    position: fixed;
    top: 0vw;
    left: 0vw;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    padding-top: .0vw;
    background-color:#151515;
    height: 10vh;
    //min-height: 60px;
    width: 100%;
    z-index: 99;

    h1, h2 {
        margin-left: 5vw;
    }

    h1 {
        font-size: 7vh;
        font-weight: inherit;
        letter-spacing: 0;
        margin-top: 0%;
        padding-top: 0%;
    }

    h2 {
        font-size: 3vh;
        font-weight: inherit;
        margin-top: -3vh;
        padding-top: 0%;
    }

    a {
        text-decoration: none;
        color: #999999;
        transition: color 0.3s;
        cursor: pointer;
    }

    a#languageDropdown {
        opacity: 0%;
        width: 0;
        height:0;
    }

    a:hover {
        color: #FFFFFF;
    }

    #links {
        position: absolute;
            right: 20vh;
            top: 25%;
        height: 100%;
        width: 50%;
        float: right;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        //white-space: nowrap;

        a {
            position: relative;
            display: block;
            margin-left: 2vw;
            margin-top: 0vw;

            font-size: 4vh;
            text-transform: uppercase;
        }
    }

    .header_button {
        position: absolute;
            top: 0%;
        
        height: 100%;
        float: right;
        filter: invert(50%);

        transition: all .5s;
    }

    #language .header_button {
        right: 5vh;
        opacity: 100%;
    }

    #sandwich .header_button {
        right: 5vh;
        opacity: 0%;
        pointer-events: none;
    }

    @media (max-aspect-ratio: 11/7)
    {
        #sandwich .header_button {
            opacity: 100%;
            pointer-events: all;
            right: 5vh;
        }

        #language .header_button {
            right: 15vh;
        }

        #links {
            position: absolute;
                top: 9vh;
                left: 0;
            background-color: #202020;
            width: 100%;
            flex-wrap: wrap;
            align-content: flex-start;
            height: 0vh;
            transition: height 0.5s;

            a {
                text-align: right;
                text-transform: uppercase;
                margin-right: 5vw;
                width: 100%;
                opacity: 0%;
                transition: opacity 0.5s;
            }
         }
    }

    @media (max-aspect-ratio: 4/7)
    {
        #language .header_button {
            opacity: 0%;
            pointer-events: none;
        }
    }

    a:hover .header_button {
        filter: opacity(100%);
        opacity: 100%;
        transition: all .5s;
    }
}

/* carousel -------------------------------- */
#carouselExampleIndicators {
    //top: 75px;

    .d-block {
        height: 90vh;
        object-fit: cover;
    }

    .carousel-item:before {
        content: '';
        position:absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
        z-index: 1;
    }
    
    @media (max-width: 980px)
    {
        h5 {
            font-size: 2em;
        }
    
        p {
            font-size: 1.5em;
        }
    }
}

/* project section -------------------- */

main {
    background-color:#151515;

    p {
        text-align: center;
    }

    h1, button {
        font-size: 4vw;
    }
    
    h2 {
        font-size: 1.5vw;
    }
}

.title {
    text-align: center;
}

.project {
	position: relative;
	margin: 1vw auto auto auto;
	width: 75%;
    //max-width: 800px;
	font-size: 1.5vw;

    img {
        display: block;
        width: 100%;
    }

    
    div.project_overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
      display: flex;
      padding: .6vw .75vw;
      opacity: 0;
        background: rgba(0, 0, 0, 0.95);
        transition: all .1s linear;
        color: #151515;

        * {
            opacity: inherit;
        }

        iframe {
            position: absolute;
              top: 3%;
              left: 1%;
            width: 40%;
            height: 90%;
            margin: 0px;
        }

        p {
            display: block;
            position: absolute;
              top: 4%;
              right: 1%;
            width: 50%;
            height: 100%;
            margin: 0px;
            line-height: 2vw;
            text-align: right;
            pointer-events: none;
            font-size: 120%;
        }

        a {
            position: absolute;
              right: 1%;
              bottom: 5%;
            align-items: flex-end;

            img {
                opacity: inherit;
                width: 6vw;
                height: 6vw;
            }
        }

        div.project_overlay_2 {
            position: absolute;
              right: 1%;
              bottom: 5%;
              margin: 0px;
              padding: 0px;
            clear: both;
            display: table-column;
            column-count: 2;

            a {
                position:static;
                align-items: flex-end;

                img {
                    opacity: inherit;
                    width: 6vw;
                    height: 6vw;
                    transform: transform(-50%, -50%);
                    position:static;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }
}

.project:hover div.project_overlay, .project:active div.project_overlay {
	opacity: 1;
}


/* ------------------- ABOUT ----------------------------------------- */

.about {
    p {
        font-size: 1.5vw;
    }

    a {
        font-size: 2vw;
        text-decoration: none;
        color: #999999;
        transition: color 0.3s;
        cursor: pointer;
        text-align: center;
        left: auto;
        margin-left: auto;
        padding-left: auto;
    }

    a:hover {
        color: #FFFFFF;
    }

    @media (max-width: 980px)
    {
        h2 {
            font-size: 3em;
        }
    
        p {
            font-size: 2em;
            text-align: center;
        }
    }

    .center {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        padding: 0 10%;
    
        .text-left {
            width: 50%;
            min-width: 400px;
            text-align: justify;
        }
    
        .text-right {
            width: 50%;
            min-width: 400px;
            text-align: right;
        }

        .link-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            align-content: space-around;
            height: 30vh;
        }
    
        .image {
            width: 40%;
            //max-height: 400px;
            min-width: 200px;

            img {
                width: 100%;
            }
        }

        @media (max-width: 980px)
        {
            .text-left {
                width: 80%;
                min-width: 400px;
            }

            .image {
                width: 80%;
                margin-top: 50px;
            }
        }
    }


}