
@mixin column-count($x){ 
    -webkit-column-count: 2;
    -moz-column-count: $x;
    column-count: $x;
  }
  


@font-face {
    font-family: Square;
    src: url('FORCED SQUARE.ttf');
}

html {
    background-color:#151515;
}

/*general elements --------------------------- */

h1, h2, p, button {
    color: white;
    font-family: Square;
}

h1, button {
    font-size: 4vw;
}

h2 {
    font-size: 1.5vw;
}

p {
    font-size: 25px;
}

a img {
    opacity: inherit;
}

/* header  ------------------------- */

#header {
    /*display: inline-block;*/
    position: sticky;
    top: 0;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    padding-top: .0vw;
    background-color:white;
    z-index: 99;

    h1 {
        margin: 0px;
        margin-bottom: 10px;
        font-weight: inherit;
        letter-spacing: -.05vw;
    }

    h2 {
        margin: 0px;
        font-weight: inherit;
        margin-top: -.675vw;
    }

    h1, h2 {
        color: black;
        text-align: center;
    }

    #langbutton {
        position: absolute;
        margin-top: 0;
        top: -10%;
        right: 1%;
        width: 10%;
        height: 100%;
        z-index: 100;
        clear: both;
        @include column-count(2);
        column-width: 50%;
        column-gap: 1vw;

        p {
            font-size: 2vw;
            color: black;
            opacity: 0%;
            float: right;
            top: auto;
        }

        img {
            width: 100%;
            height: 95%;
        }
    }

    #langbutton:hover p {
        opacity: 100%;
    }
}

/* project section -------------------- */

main p {
    text-align: center;
}

.project {
	position: relative;
	margin: 1vw auto auto auto;
	width: 75%;
	font-size: 1.5vw;

    img {
        display: block;
        width: 100%;
    }

    
    div.project_overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
      display: flex;
      padding: .6vw .75vw;
      opacity: 0;
        background: rgba(0, 0, 0, 0.95);
        transition: all .1s linear;
        color: #151515;

        * {
            opacity: inherit;
        }

        iframe {
            position: absolute;
              top: 3%;
              left: 1%;
            width: 40%;
            height: 90%;
            margin: 0px;
        }

        p {
            display: block;
            position: absolute;
              top: 4%;
              right: 1%;
            width: 50%;
            height: 100%;
            margin: 0px;
            text-align: right;
            pointer-events: none;
        }

        a {
            position: absolute;
              right: 1%;
              bottom: 5%;
            align-items: flex-end;

            img {
                width: 75px;
                height: 75px;
            }
        }

        div.project_overlay_2 {
            position: absolute;
              right: 1%;
              bottom: 5%;
              margin: 0px;
              padding: 0px;
            clear: both;
            display: table-column;
            column-count: 2;

            a {
                position:static;
                align-items: flex-end;

                img {
                    width: 75px;
                    height: 75px;
                    position:static;
                    margin: 0px;
                    padding: 0px;
                }
            }
        }
    }
}

.project:hover div.project_overlay {
	opacity: 1;
}